@model App.data.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nom</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.nom)</dd>
        <dt class="col-sm-2">Téléphone </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.num_tel)</dd>
        <dt class="col-sm-2"> Commentaire</dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.commentaire) </dd>
        <dt class="col-sm-2"> Contact</dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.mail_proprio)</dd>
    </dl>
    <h4>Adresse</h4>
    <dl class="row">
        <dt class="col-sm-2">Numéro de voie</dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.adresse.num_voie)</dd>
        <dt class="col-sm-2">Rue</dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.adresse.rue)</dd>
        <dt class="col-sm-2">Ville</dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.adresse.ville) </dd>
        <dt class="col-sm-2">Code postal</dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.adresse.cp) </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Modifier</a> |
    <a asp-action="Index">Retour</a>
</div>
